DB_URL=postgresql://postgres:postgres@localhost:5432/opentrust
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
JWT_SECRET=change_me
NEXT_PUBLIC_API_URL=http://localhost:3000
PAYMENT_PROVIDER=
CIRCLE_API_KEY=
